body {
	color           : #716e77;
	background-color: #faf9f5;
	text-align      : center;
	font-family     : "游明朝", "Yu Mincho";
	font-weight     : lighter;
	font-size       : 120%;
}

p {
	margin: 50px 0 100px 0;
}

.introduction {
	font-size      : 300%;
	margin         : 200px 0 100px 0;
	display        : flex;
	align-items    : center;
	justify-content: center;

}

.nouen {
	width : 1890px;
	height: 900px;
}

/* タイトル部分 */
.feature img {
	vertical-align: middle;
	display       : inline-block;
}

.feature h1 {
	color    : #857465;
	font-size: 350%;
	height   : 90px;
	display  : inline-block;
}

.feature p {
	color    : #857465;
	font-size: 200%;
	height   : 90px;
	display  : inline-block;
}

.sabu {
	font-size: 60%;
}

.slider {
	width : 900px;
	height: 650px;
	margin: 50px 30px 50px 70px;
	border: 9px solid #d4c1a9;
}

/* ナビゲーション */
.nav {
	margin       : 60px;
	text-align   : center;
	color        : #716e77;
	padding      : 30px 30px 0 30px;
	border-bottom: 2px solid #716e77;
}

#menu-btn-check {
	display: none;
}

ul {
	list-style: none;
	text-align: right;
	margin    : 20px auto 20px auto;
}

li {
	display: inline-block;
}

.nav ul {
	overflow : hidden;
	padding  : 0;
	max-width: 1800px;
}

.nav ul li {
	position: relative;
	width   : 15%;
}

.nav ul li a {
	display        : block;
	padding        : 17px 5%;
	width          : 90%;
	color          : #716e77;
	font-weight    : bold;
	font-size      : 120%;
	text-align     : center;
	text-decoration: none;
}

/* 農園の紹介 */
.introduction:before,
.introduction:after {
	border-top: 1px solid;
	content   : "";
	width     : 3em;
}

.introduction:before {
	margin-right: 1em;

}

.introduction:after {
	margin-left: 1em;

}

.sab-introduction {
	font-size: 200%;
}

/* 紹介項目 */
.rest {
	display: inline-flex;
}

.rest:nth-child(odd) {
    flex-direction: row-reverse;
}

.rest-text {
	width  : 500px;
	padding: 20px;
}

.rest h3 p {
	width: 49%;
}


/* アクセス */
.access {
	font-size  : 300%;
	margin     : 200px 0 100px 0;
	display    : flex;
	align-items: center;

	justify-content: center;


}

.access:before,
.access:after {
	border-top: 1px solid;
	content   : "";
	width     : 3em;

}

.access:before {
	margin-right: 1em;

}

.access:after {
	margin-left: 1em;

}

.access-content {
	width  : 80%;
	display: flex;
	margin : 10px auto;
}


.car h3 {
	margin : 0;
	padding: 0;
}

.car p {
	margin : 0;
	padding: 0;
}

.car {
	margin          : 0;
	padding         : 0;
	border          : 5px double #d4c1a9;
	color           : #333;
	background-color: #fff;
	border-radius   : 1px;
}

.train h3 {
	margin : 0;
	padding: 0;
}

.train p {
	margin : 0;
	padding: 0;
}

.train {
	margin          : 0;
	padding         : 0;
	border          : 5px double #d4c1a9;
	color           : #333;
	background-color: #fff;
	border-radius   : 1px;
}


.car {
	width  : 100%;
	display: inline-block;
	padding: 20px;
	margin : 100px 50px 100px 0;
}

.train {
	width  : 100%;
	display: inline-block;
	padding: 20px;
	margin : 100px 0 100px 50px;
}

/* マップ */
.map {
	border       : 5px solid #d4c1a9;
	margin       : 20px auto 20px auto;
	width        : 600px;
	height       : 450px;
	margin-bottom: 2px;
}

.map-text {
	font-size: 120%;
	margin   : 10px 0 0 0;
}

/* フッター */
footer {
	text-align: center;
	color     : #716e77;
	padding   : 30px;
	border-top: 2px solid #716e77;
	margin-top: 100px;
}


/* 959px以下タブレット用 */
@media screen and (max-width: 959px) {
	.nouen {
		max-width: 960px;
	}
}



/* 480px以下スマホ用 */
@media screen and (max-width: 480px) {
	.nouen {
		width: 100%;
		height:auto;
	}
	
	.menu-btn {
		position: fixed;
		display: flex;
		right: 8px;
		height: 60px;
		width: 60px;
		justify-content: center;
		align-items: center;
		z-index: 90;
		background-color: lightskyblue;
    	float: right;
	}

	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
		content: '';
		display: block;
		height: 3px;
		width: 25px;
		border-radius: 3px;
		background-color: #ffffff;
		position: absolute;
	}

	.menu-btn span:before {
		bottom: 8px;
	}

	.menu-btn span:after {
		top: 8px;
	}

	#menu-btn-check:checked ~ .menu-btn span {
		background-color: rgba(255, 255, 255, 0);
	}

	#menu-btn-check:checked ~ .menu-btn span::before {
		bottom: 0;
		transform: rotate(45deg);
	}

	#menu-btn-check:checked ~ .menu-btn span::after {
		top: 0;
		transform: rotate(-45deg);
	}

	.nav {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 100%;
		z-index: 80;
		background-color: #3584bb;
		transition: all 0.5s;
	}

	#menu-btn-check:checked ~ .nav {
		left: 0;
	}

	.nav ul {
		padding: 70px 10px 0;
	}

	.nav ul li {
		border-bottom: solid 1px #ffffff;
		list-style: none;
		width: auto;
		display:block;
	}

	.nav ul li a {
		display: block;
		width: 100%;
		font-size: 15px;
		box-sizing: border-box;
		color:#ffffff;
		text-decoration: none;
		padding: 9px 15px 10px 0;
		position: relative;
	}

	.nav {
		margin: 5px;
		color: #716e77;
		padding: 0px 10px 0 10px;
		border-bottom: 2px solid #716e77;
	}

	ul {
		list-style: none;
		text-align: center;
		margin: 20px auto 20px auto;
	}

	.slider {
		width: 100%;
		height: auto;
		margin: auto;
		border: none;
	}

	.feature h1 {
		font-size: 150%;
		height: auto;
	}

	.introduction {
		font-size: 140%;
		margin: 20px auto auto auto;
	}

	.sab-introduction {
		font-size: 110%;
	}

	.sab-introduction-description {
		text-align: left;
		padding: 5px;
		margin: 10px 0 100px 0;
	}

	.rest {
		display:block;
	}

	.rest img {
		width: 100%;
		height: auto;
	}

	.rest-text {
		width: auto;
		padding: 5px;
		text-align: left;
	}

	.rest-text-detail {
		margin: 20px 0 35px 0;
	}

	.access {
		font-size: 150%;
		margin: auto;
	}

	.address-text {
		margin: auto;
	}

	.access-content {
		display: block;
		width: 95%;
		margin: auto;
	}

	.car {
		width: 100%;
		padding: 0;
		margin:50px 0 20px 0;
	}

	.train {
		width: 100%;
		padding: 0;
		margin:30px 0 50px 0;
	}

	.map {
		width: 95%;
		height: 300px;
	}

	.map iframe {
		width: 100%;
		height: 100%;
	}
}